
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ERROR</title>
		<meta name="description" content="The HTML5 Template">
		<meta name="author" content="Joe Bloggs">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>
			<h1>An Error Has Occurred</h1>
      <button id="hamburger"><i class="fa fa-bars"></i></button>
      <ul>
        {{#if admin}}
        <li><a href="/news/pending">Pending</a></li>
			{{/if}}
			{{#if authorised}}
         <li><a href="/users/{{userid}}">User news</a></li>
         <li><a href="/news/add">Add news</a></li>
         <li><a href="/logout">Log out</a></li>
			{{else}}
         <li><a href="/login">Log in</a></li>
         <li><a href="/register">Register</a></li>
			{{/if}}
      </ul>	
		</header>
		<main>
			<h2>{{msg}}</h2>
		</main>
	</body>
</html>
