
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
		<h1>Secure Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<main>
		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
		<form id="addnews" name="addnews" action="/secure/add" enctype="multipart/form-data" method="post">
			<div class="input">
				<label for="title">Title</label><br />
				<input required type="text" name="title" placeholder="Article title">
			</div>
			<div class="input">
				<label for="article">article</label><br />
				<textarea required form="addnews" name="article" placeholder="An article body of at least 300 characters..." ></textarea>
			</div>
			<div class="input">
				<label for="photo">Photo</label><br />
				<input type="file" name="photo" accept="image/*">
			</div>
			<p><input type="submit" value="Create"></p>
		</form>
		<p><a href="/">Home page</a></p>
		</main>
	</body>
</html>
