@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 1em;
}
header a {
  text-decoration: none;
  margin-right: 1em;
}
header h1 {
  font-size: 1.4em;
}

.header-buttons {
  display: flex;
  flex-direction: row;
}

.feed {
  width: 100%;
  background-color: peach;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.feed article img {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 450px) {
  article img {
    max-width: 300px;
  }
}
article {
  max-width: 80%;
  margin: 1em;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
article img {
  max-width: 100%;
  margin: 0.5em;
}
article .date {
  font-size: 0.8em;
  align-self: flex-end;
}

h2 {
  font-size: 0.9rem;
  margin: 0;
}

.edit {
  padding: 0.7em;
  width: 10em;
  border-radius: 0.5em;
}

.admin {
  padding: 0.7em;
  width: 10em;
  border-radius: 0.5em;
}

.release {
  border-color: lightgreen;
}
.release:hover {
  background-color: lightgreen;
}

.revision {
  border-color: lightcoral;
}
.revision:hover {
  background-color: lightcoral;
}

@media screen and (min-width: 1000px) {
  .home-body {
    display: flex;
    flex-direction: row;
  }
}

aside {
  margin: 2em;
  max-height: fit-content;
}
@media screen and (min-width: 1000px) {
  aside {
    width: 15%;
  }
}
aside .leaderboards {
  min-width: 170px;
}
aside .leaderboards .title-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
aside .leaderboards .leader-row, aside .leaderboards .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 1px solid rgba(211, 211, 211, 0.4);
  border-left: 1px solid rgba(211, 211, 211, 0.4);
}
aside .leaderboards .leader-row p, aside .leaderboards .header p {
  padding: 0.5em;
}
aside .leaderboards .header {
  border-radius: 1em 1em 0 0;
  background-color: rgba(211, 211, 211, 0.4);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 1em;
}
.input input {
  font-size: 1rem;
  width: 15rem;
  height: 4vh;
  border-radius: 0.4rem;
  text-align: center;
}

input[type=submit] {
  width: 10rem;
  height: 4vh;
  border-radius: 0.4rem;
}

textarea {
  border-radius: 0.6rem;
  width: 15rem;
  height: 10vh;
}

.article {
  border: 1px solid rgba(211, 211, 211, 0.4);
  background-color: rgba(211, 211, 211, 0.1);
  border-radius: 1em;
  width: 80%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article h1, .article h4, .article h5 {
  margin: 0.5em;
}
.article img {
  max-width: 90%;
  max-height: 500px;
  margin: 1em 0;
}
.article .sub-heading {
  align-self: flex-end;
}
.article .article-body {
  white-space: pre-wrap;
  max-width: 85%;
}
@media only screen and (min-width: 1000px) {
  .article .article-body {
    max-width: 65%;
  }
  .article img {
    max-width: 900px;
  }
}

.feedback-add {
  margin: 2em;
}

.feedback-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5em;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 1em;
}
@media screen and (min-width: 1000px) {
  .feedback-feed {
    width: 50%;
  }
}
.feedback-feed .feedback-item {
  width: 100%;
}
.feedback-feed .feedback-item .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.feedback-feed .feedback-item .header h4, .feedback-feed .feedback-item .header h5 {
  margin: 0;
}
.feedback-feed .feedback-item .content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}
.feedback-feed .feedback-item .content .rating {
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.feedback-feed .comment {
  margin: 1em 0;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body {
  font-size: 17px;
  font-family: "PT Serif", serif;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*# sourceMappingURL=style.css.map */
