@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@mixin center-vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@mixin button-basic {
  padding: 0.7em;
	width: 10em;
	border-radius: 0.5em;
}
//homepage
header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding: 1em;
	
	a {
	  text-decoration: none;
	  margin-right: 1em;
	}
  
	h1 {
		font-size: 1.4em;
	}
}
.header-buttons {
	display: flex;
	flex-direction: row;
}
.feed {
  width: 100%;
  background-color: peach;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 450px) {
	article {
		img {
			max-width: 300px;
		}
	}
}

article {
	max-width: 80%;
	margin: 1em;
	padding: 0.8em;
	background-color: rgba(211,211,211, 0.4);
	border-radius: 0.6em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;

	img {
		width: 350px;
		margin: 0.5em;
	}

  
  .date {
    font-size: 0.8em;
    align-self: flex-end;
  }
}
h2 {
  font-size: 0.9rem;
  margin: 0;
}
.edit {
  @include button-basic;
}
//end homepage
.admin {
	@include button-basic;
}
.release {
  &:hover{
    background-color: lightgreen;
  }
	border-color: lightgreen;
}
.revision {
  &:hover{
    background-color: lightcoral;
  }
	border-color: lightcoral;
}
//login/register
main {
	@include center-vertical;
}
form {
	width:100%;
	height:100%;
	@include center-vertical;
}
.input {
	@include center-vertical;
	width: fit-content;
	margin: 1em;
	
	input {
		font-size: 1rem;
		width: 15rem;
		height: 4vh;
		border-radius: 0.4rem;
		
		text-align: center;
	}
}
input[type="submit"] {
	width: 10rem;
	height: 4vh;
	border-radius: 0.4rem;
}
//end login/register

//add news page 
textarea {
	border-radius: 0.6rem;
	width: 15rem;
	height: 10vh;
}
//end

//article page
.article {
	width: 80%;
	@include center-vertical;

	h1, h4, h5 {
		margin: 0.5em;
	}
	img {
		max-width: 90%;
		max-height: 500px;
		margin: 1em 0;
	}
	.sub-heading {
		align-self: flex-end;
	}
	.article-body {
		white-space: pre-wrap;
		max-width: 85%;
		
	}
	@media only screen and (min-width: 1000px) {
		.article-body {
			max-width: 65%;
		}
		img {
			max-width: 900px;
		}
	}	
}
.feedback-add {
	margin: 2em;
}
.feedback-feed {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 80%;

	@media screen and (min-width: 1000px) {
		max-width: 50%;
	}

	.feedback-item {
		width: 100%;

		.header {
			display: flex;
			justify-content: space-between;
		}
	}
	.comment {
		margin: 1em 0;
	}
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body {
    font-size:17px;
    font-family: 'PT Serif', serif;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

a {
    margin:0;
    padding:0;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}


